@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{

    ViewData["Title"] = "Mein Bereich";
}
@*
TODO: Hier noch Layout anpassen *@
<div class="col">
    <div class="flexRow justify-content-center flexAlginItemCenter minWidth100 mobieleWidth90 bg-white" style="position:fixed;z-index:1000">
        <div class="flexColumn">
            <a class="btn" typeof="button" onclick="loadMyRecipes()">
                Meine Rezepte
            </a>
        </div>
        <div class="flexColumn">
            <a typeof="button" class="btn" onclick="loadRecipesILike()">
                Meine Rezeptbuch
            </a>
        </div>

        @{
            if (User.IsInRole("Admin"))
            {
                <div class="flexColumn mobile-hidden">
                    <a typeof="button" class="btn" asp-controller="NewRecipes" asp-action="CreateRecipes">
                        Add Recipes
                    </a>
                </div>

                <div class="flexColumn mobile-hidden">
                    <a typeof="button" class="btn" asp-controller="NewRecipes" asp-action="CreateFolder">
                        Create Folder
                    </a>
                </div>

            }
            if (User.IsInRole("PremiumUser"))
            {
                <div class="flexColumn">
                    <a typeof="button" class="btn" onclick="loadPremiumPartialView()">
                        Premium Vorteile
                    </a>
                </div>
            }
            if (!User.IsInRole("PremiumUser"))
            {
                <div class="flexColumn">
                    <a typeof="button" class="btn" onclick="loadAboPage()">
                        Premium Vorteile
                    </a>
                </div>
            }




        }
    </div>
    <div class="flexRow justify-content-center mobieleWidth90 minWidth100">
        <div class="flex flexJustifyContendCenter mt-5" id="PartailaView"></div>

    </div>

</div>




@section Scripts {
    <script>

        function loadAboPage() {
            $('#PartailaView').load("MyRecipes/PremiumUserPage")

        }
        function loadMyRecipes() {

            $('#PartailaView').load("MyRecipes/LoadMyRecipes")
        }

        function loadRecipesILike() {

            $('#PartailaView').load("MyRecipes/LoadRecipesILike")
        }

       

        function loadPremiumPartialView() {
            $('#PartailaView').load("MyRecipes/Premium")
        }

       
    </script>
}


