@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{

    ViewData["Title"] = "Mein Bereich";
}

<div class="flexRowToColumn maxWidth100 mobieleWidth90 flexJustifyContendCenter" style="margin-top:30vh">
   <div class="flexColumn">
       <a class="btn" typeof="button" onclick="loadMyRecipes()">
           Meine Rezepte
       </a>
   </div>
   <div class="flexColumn">
        <a typeof="button" class="btn" onclick="loadRecipesILike()">
            Meine Rezeptbuch
        </a>
   </div>

    @{
        if(User.IsInRole("Admin"))
        {
                <div class="flexColumn">
                    <a typeof="button" class="btn" onclick="loadSupportTicketsPartialView()">
                        Support Tickets
                    </a>
                </div>

                <div class="flexColumn">
                    <a typeof="button" class="btn" onclick="loadDashBoardPartialView()">
                        Dashboard
                    </a>
                </div>

                <div class="flexColumn">
                    <a typeof="button" class="btn" asp-controller="NewRecipes" asp-action="CreateRechipes">
                        Add Recipes
                    </a>
                </div>
        }
    }
</div>

<div id="PartailaView"></div>

@section Scripts {
    <script>

        $('#PartailaView').load("MyRecipes/LoadMyRecipes")
        function loadMyRecipes() {
            
            $('#PartailaView').load("MyRecipes/LoadMyRecipes")
        }

        function loadRecipesILike() {

            $('#PartailaView').load("MyRecipes/LoadRecipesILike")
        }

        function loadDashBoardPartialView() {
            $('#PartailaView').load("MyRecipes/DashBoard")
        }
        function loadSupportTicketsPartialView()
        {
            $('#PartailaView').load("MyRecipes/LoadSupportTicketsPartialView")
        }

        function deleteSupportMessage(id) {
            
            $.ajax({
                type: "POST",
                url: "/Support/DeleteSupportTicket",
                data: { id: id },
                success: function (response) {
                   
                    $('#PartailaView').html(response);
                }

            })

        }
    </script>
}


