@model List<Recipes>


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        @{
            foreach (var recipe in Model)
            {
                <div class="carousel-item">
                    <img src="@recipe.ImagePath" class="d-block w-100" alt="...">
                </div>
            }
        }

    </div>
</div>

