@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="line-height:2;">
    **Allgemeine Geschäftsbedingungen (AGB) für die Rezepte-Website von DelikatessenDrehbuch**<br />

    **1. Geltungsbereich**<br />

    1.1. Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Nutzer der Rezepte-Website von Christoph Nitsch (nachfolgend "Betreiber" genannt).<br />

    1.2. Mit der Nutzung der Website und insbesondere mit dem Hochladen von Rezepten und Fotos akzeptieren die Nutzer diese AGB.<br />

    **2. Urheberrecht und Eigentum**<br />

    2.1. Durch das Hochladen von Rezepten und Fotos bestätigen die Nutzer, dass sie die rechtmäßigen Eigentümer dieser Inhalte sind und dass diese keine Rechte Dritter verletzen.<br />

    2.2. Mit dem Hochladen von Rezepten und Fotos übertragen die Nutzer alle Rechte an diesen Inhalten unwiderruflich an den Betreiber. Dies umfasst das Recht, die Inhalte zu speichern, zu veröffentlichen, zu vervielfältigen und zu bearbeiten.<br />

    2.3. Der Betreiber wird die hochgeladenen Inhalte nach eigenem Ermessen verwenden und behält sich das Recht vor, Inhalte zu ändern, zu löschen oder in anderer Weise zu nutzen.<br />

    **3. Nutzungsrechte**<br />

    3.1. Der Nutzer räumt dem Betreiber ein einfaches, zeitlich und räumlich unbegrenztes Nutzungsrecht an den hochgeladenen Inhalten ein.<br />

    3.2. Der Betreiber ist berechtigt, die hochgeladenen Inhalte zu kommerziellen Zwecken zu verwenden, ohne dass dem Nutzer daraus Ansprüche auf Vergütung entstehen.<br />

    **4. Haftungsausschluss**<br />

    4.1. Der Betreiber übernimmt keine Verantwortung für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte.<br />

    4.2. Der Nutzer stellt den Betreiber von sämtlichen Ansprüchen Dritter frei, die aufgrund von hochgeladenen Inhalten geltend gemacht werden.<br />

    **5. Datenschutz**<br />

    5.1. Die Verarbeitung personenbezogener Daten erfolgt gemäß der Datenschutzerklärung des Betreibers.<br />

    5.2. Der Nutzer erklärt sich mit der Verarbeitung seiner personenbezogenen Daten im Rahmen der Nutzung der Website einverstanden.<br />

    **6. Änderungen der AGB**<br />

    6.1. Der Betreiber behält sich das Recht vor, diese AGB jederzeit zu ändern. Änderungen werden auf der Website bekannt gegeben.<br />

    6.2. Die fortgesetzte Nutzung der Website nach Änderungen der AGB gilt als Zustimmung zu den geänderten Bedingungen.<br />

    **7. Schlussbestimmungen**<br />

    7.1. Sollten einzelne Bestimmungen dieser AGB ganz oder teilweise unwirksam sein oder werden, bleibt die Gültigkeit der übrigen Bestimmungen unberührt.<br />

    7.2. Es gilt das Recht der Bundesrepublik Deutschland. Gerichtsstand ist, soweit gesetzlich zulässig, der Sitz des Betreibers.<br />

    ---
</p>
