@model DropdownModel



<div class="flex flexRow mt-1 wrap jspaceBetween">

    <input class="w30" asp-for="IngredientHandler.Ingredient.Name" name="Ingredient" id="Ingredient" placeholder="Zutat" />
    <input class="w30" asp-for="IngredientHandler.Quantity.Quantitys" name="Quantity" placeholder="Mänge" />
    <partial name="_dropDownPartialView" model="Model" />

</div>



