@model DropdownModel



<div class="flexRowToColumn flexJustifyContendCenter mobieleWidth100 minWidth90 ">


    <input class="maxWidth50 mobieleWidth100 flex mt-1" asp-for="IngredientHandler.Ingredient.Name" name="Ingredient" placeholder="Zutat" style="margin-right:2px;" />

    <div class="flexRow flexNoWrap">
        <input class=" mt-1 flex " asp-for="IngredientHandler.Quantity.Quantitys" name="Quantity" placeholder="Mänge" style="max-width:70px;margin-right:2px;" />

        <div class="dropdown maxWidth40 mobieleWidth45 mt-1 flex" style="padding:0;min-width:120px;">
            @{

                if (Model.IngredientHandler.Measure != null)
                {
                    <div asp-for="IngredientHandler.Measure.UnitOfMeasurement" name="Measure" onclick="GetElement(this)" class="btn bgRed dropdown-toggle mobieleWidth100" type="button" data-bs-toggle="dropdown" style="color:#FFFDD0;">
                        @Model.IngredientHandler.Measure.UnitOfMeasurement.ToString()
                    </div>
                }
                else
                {
                    <div asp-for="IngredientHandler.Measure.UnitOfMeasurement" name="Measure" onclick="GetElement(this)" class="btn bgRed dropdown-toggle mobieleWidth100 " type="button" data-bs-toggle="dropdown" style="color:#FFFDD0;">Stk.</div>
                }

            }

            <ul class="dropdown-menu">
                @{
                    var MeasureNames = Model.Measure.Select(x => x.UnitOfMeasurement).ToList();

                    foreach (var measure in MeasureNames)
                    {

                        <li><a class="dropdown-item" onclick="GetText(this.text)">@measure</a></li>
                    }
                }


            </ul>


        </div>
        <button class="btn bg-transparent mobieleWidth10" type="button" typeof="button" href="#" onclick="DeleteRow(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#D4AF37" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
            </svg>
        </button>
    </div>
   



</div>



