@model IngredientHandler



<div class="row">
  
    <div class="col" style="max-width:65%">
        <input asp-for="Ingredient.Name" name="Ingredient" class="mt-1" id="Ingredient" placeholder="Zutat" style="width:100%" />
    </div>
    <div class="col" style="max-width:15%">
        <input asp-for="Quantity.Quantitys" name="Quantity" class="m-1" style="width:100%" placeholder="Mänge" />
    </div>
    <div class="col" style="max-width:15%">
        <input asp-for="Measure.UnitOfMeasurement" name="Measure" class="m-1" style="width:100%" placeholder="Maßeinheit" />
    </div>

</div>


