@model FullRecipes
@{
    ViewData["Title"] = "Neues Rezept";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="flexColumn minWidth100 flexAlginItemCenter">



    <form class="flex flexColumn minWidth80 maxWidth80 mobieleWidth100" asp-controller="NewRecipes" asp-action="AddNewRecipes">
        <input asp-for="Recipes.Id" name="Id" hidden />
        <input id="Catergory" asp-for="Recipes.Category" name="Category" hidden />
        <div class="flexRowToColumn flexAuto flexWrap mobieleWidth90 ">

            <input asp-for="Recipes.Name" class="grid-Title mobileMarginBottom" name="Name" placeholder="Name des Rezeptes" style="min-height:37px" />





            @{

                if (Model.Recipes.Id != 0)
                {
                                <button id="CategoryDropdown" class="btn bgRed dropdown-toggle max-Widthcontent mobileMarginBottom" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#FFFDD0;margin-left:auto;">
                                    @Model.Recipes.Category
                                </button>
                }
                else
                {
                                <button name="test" id="CategoryDropdown" class="btn bgRed dropdown-toggle max-Widthcontent mobileMarginBottom" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#FFFDD0;margin-left:auto">
                                    Kategorie
                                </button>
                }
            }

            

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Vorspeise</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Hauptspeise</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Dessert</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Snack</a></li>
            </ul>
        </div>
        <div class="flexRow mt-1 mb-1 minWidth100">
            <div class="accordion minWidth100" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                            Suchwörter auswählen
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body ">
                            <div class="flexRowToColumn flexWrap">

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Vegan" value="" id="flexCheckVegan">
                                    <label class="form-check-label" for="flexCheckVegan">
                                        Vegan
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Vegetarian" value="" id="flexCheckVegetarisch">
                                    <label class="form-check-label" for="flexCheckVegetarisch">
                                        Vegetarisch
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="LowCarb" value="" id="flexCheckLowCarb">
                                    <label class="form-check-label" for="flexCheckLowCarb">
                                        Low-Carb
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Pastry" value="" id="flexCheckGebäck">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        Gebäck
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="BBQ" value="" id="flexCheckBBQ">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        BBQ
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Bread" value="" id="flexCheckBread">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        Brot
                                    </label>
                                </div>

                            </div>

                            <div class="flexRowToColumn flexWrap">

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Biscuits" value="" id="flexCheckBiscuits">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        Kekse
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Cocktails" value="" id="flexCheckCocktails">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        Cocktails
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Pie" value="" id="flexCheckPie">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        Torte
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Cake" value="" id="flexCheckCake">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        Kuchen
                                    </label>
                                </div>

                                <div class="form-check" style="margin-left:7px;">
                                    <input class="form-check-input" type="checkbox" name="Diet" value="" id="flexCheckDiet">
                                    <label class="form-check-label" for="flexCheckBackware">
                                        Diat
                                    </label>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="flexRow">
            <span class="flex flexAlginItemCenter">Zutat Hinzufügen</span>

            <div class="flex max-Widthcontent" style="margin-left:auto;">

                <a class="btn" typeof="button" asp-controller="NewRecipes" asp-action="BlankSentence" type="button" id="addItem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>


            </div>

        </div>



        <div id="container">

            <div class="flexColumn" id="editorRows">

                @{
                    foreach (var item in Model.IngredientHandler)
                    {

                                    <div id="@item.Id" name="MyDiv">@Model.Recipes.Id</div>

                    }


                }

            </div>


        </div>


        <textarea asp-for="Recipes.Preparation" class="mt-1 grid-Preparation " name="Preparation" placeholder="Zubereitung" style="width:100%;height:250px"></textarea>



        <div class="grid-Image">
            <label class="form-label">Foto Hochladen</label>
            <input asp-for="Recipes.FormFile" id="form" name="Recipes.FormFile" class="form-control-file" type="file">
        </div>

        <button id="submit" class="btn bgRed grid-Button max-Widthcontent" typeof="button" style="margin-left:auto; color:#FFFDD0">Speichern</button>

    </form>




</div>






@section Scripts {
    <script>

        

        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();
           
            $("input[name='Id']").each(function () {
                var Id = $(this).val();
                formData.set("Recipes.Id", Id);
            });

            $("input[name='Category']").each(function () {
                var Category = $(this).val();
                formData.set("Recipes.Category", Category);
            });

            $("input[name='Name']").each(function () {
                var Name = $(this).val();
                formData.set("Recipes.Name", Name);
            });

             $("input[name='Vegan']").each(function () {
                var Vegan = (this).checked;
                formData.set("RecipeType.Vegan", Vegan);
            });

            $("input[name='Vegetarian']").each(function () {
                var Vegetarian = (this).checked;
                formData.set("RecipeType.Vegetarian", Vegetarian);
            });

            $("input[name='LowCarb']").each(function () {
                var LowCarb = (this).checked;
                formData.set("RecipeType.LowCarb", LowCarb);
            });

            $("input[name='BBQ']").each(function () {
                var BBQ = (this).checked;
                formData.set("RecipeType.BBQ", BBQ);
            });

            $("input[name='Pastry']").each(function () {
                var Pastry = (this).checked;
                formData.set("RecipeType.Pastry", Pastry);
            });

            $("input[name='Bread']").each(function () {
                var Bread = (this).checked;
                formData.set("RecipeType.Bread", Bread);
            });

            $("input[name='Cake']").each(function () {
                
                var Cake = (this).checked;
                formData.set("RecipeType.Cake", Cake);
            });

            $("input[name='Biscuits']").each(function () {
                var Biscuits = (this).checked;
                formData.set("RecipeType.Biscuits", Biscuits);
            });

            $("input[name='Cocktails']").each(function () {
                var Cocktails = (this).checked;
                formData.set("RecipeType.Cocktails", Cocktails);
            });

            $("input[name='Pie']").each(function () {
                var Pie = (this).checked;
                formData.set("RecipeType.Pie", Pie);
            });

            $("input[name='Diet']").each(function () {
                var Diet = (this).checked;
                formData.set("RecipeType.Diet", Diet);
            });

           

            $("textarea[name='Preparation']").each(function () {
                var Preparation = $(this).val();
                formData.set("Recipes.Preparation", Preparation);
            });


            $("input[name='Quantity']").each(function (i) {
                var Quantity = $(this).val();
                formData.append("IngredientHandler[" + i + "].Quantity.Quantitys", Quantity);
            });

            $("div[name='Measure']").each(function (i) {

                var Measure = (this).textContent;
                formData.append("IngredientHandler[" + i + "].Measure.UnitOfMeasurement", Measure);
            });

            $("input[name='Ingredient']").each(function (i) {
                var Ingredient = $(this).val();
                formData.append("IngredientHandler[" + i + "].Ingredient.Name", Ingredient);
            });

            $("input[name='Recipes.FormFile']").each(function (i) {

                var fileData = $('#form')[0];
                formData.append("Recipes.FormFile", fileData.files[0]);
            });

            $.ajax({

                method: 'post',
                url: "/NewRecipes/AddOrEditRecipes",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {

                    window.location.href = data.redirect;

                }
            });

        });

        function GetThisTextToCategoryInput(text) {
            var text = text.textContent;
            var dropdown = document.getElementById('CategoryDropdown');
            dropdown.textContent = text;
            $('#Catergory').val(text);

        }

        $("Div[name='MyDiv']").each(function () {
            var id = (this).id;
            $(this).load("/NewRecipes/EditRecipesPartialView?id=" + id);
        });

        $("#addItem").click(function () {

            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $("#editorRows").append(html);

                }

            });
            return false;
        });



        var div;
        function GetElement(element) {

            div = element;
        }

        function GetText(text) {

            div.textContent = text;

        }


        function DeleteRow(html) {
            
            var first = html.parentNode;
            var second = first.parentNode.remove();
           
          
        }




    </script>




}



