@model FullRecipes
@{
    ViewData["Title"] = "Neues Rezept";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="flexColumn minWidth100 flexAlginItemCenter">



    <form class="flex flexColumn minWidth80 maxWidth80 mobieleWidth100" asp-controller="NewRecipes" asp-action="AddNewRecipes">
        <input asp-for="Recipes.Id" name="Id" hidden />
        <input id="Catergory" asp-for="Recipes.Category" name="Category" hidden />
        <div class="flexRowToColumn flexAuto flexNoWrap mobieleWidth90 ">

            <input asp-for="Recipes.Name" class="grid-Title mobileMarginBottom" name="Name" placeholder="Name des Rezeptes" style="min-height:37px" />

            @{

                if (Model.Recipes.Id != 0)
                {
                    <button id="CategoryDropdown" class="btn bgRed dropdown-toggle max-Widthcontent mobileMarginBottom" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#FFFDD0;margin-left:auto;">
                        @Model.Recipes.Category
                    </button>
                }
                else
                {
                    <button name="test" id="CategoryDropdown" class="btn bgRed dropdown-toggle max-Widthcontent mobileMarginBottom" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#FFFDD0;margin-left:auto">
                        Kategorie
                    </button>
                }
            }

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Vorspeise</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Hauptspeise</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Dessert</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Snack</a></li>
            </ul>
        </div>

        <div class="flexRow">
            <span class="flex flexAlginItemCenter">Zutat Hinzufügen</span>

            <div class="flex max-Widthcontent" style="margin-left:auto;">

                <a class="btn" typeof="button" asp-controller="NewRecipes" asp-action="BlankSentence" type="button" id="addItem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>


            </div>

        </div>






        <div id="container">

            <div class="flexColumn" id="editorRows">

                @{
                    foreach (var item in Model.IngredientHandler)
                    {

                        <div id="@item.Id" name="MyDiv">@Model.Recipes.Id</div>

                    }


                }

            </div>


        </div>


        <textarea asp-for="Recipes.Preparation" class="mt-1 grid-Preparation " name="Preparation" placeholder="Zubereitung" style="width:100%;height:250px"></textarea>



        <div class="grid-Image">
            <label class="form-label">Foto Hochladen</label>
            <input asp-for="Recipes.FormFile" id="form" name="Recipes.FormFile" class="form-control-file" type="file">
        </div>

        <button id="submit" class="btn bgRed grid-Button max-Widthcontent" typeof="button" style="margin-left:auto; color:#FFFDD0">Speichern</button>

    </form>




</div>






@section Scripts {
    <script>


        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();


            $("input[name='Id']").each(function () {
                var Id = $(this).val();
                formData.set("Recipes.Id", Id);
            });

            $("input[name='Category']").each(function () {
                var Category = $(this).val();
                formData.set("Recipes.Category", Category);
            });

            $("input[name='Name']").each(function () {
                var Name = $(this).val();
                formData.set("Recipes.Name", Name);
            });

            $("textarea[name='Preparation']").each(function () {
                var Preparation = $(this).val();
                formData.set("Recipes.Preparation", Preparation);
            });


            $("input[name='Quantity']").each(function (i) {
                var Quantity = $(this).val();
                formData.append("IngredientHandler[" + i + "].Quantity.Quantitys", Quantity);
            });

            $("div[name='Measure']").each(function (i) {

                var Measure = (this).textContent;
                formData.append("IngredientHandler[" + i + "].Measure.UnitOfMeasurement", Measure);
            });

            $("input[name='Ingredient']").each(function (i) {
                var Ingredient = $(this).val();
                formData.append("IngredientHandler[" + i + "].Ingredient.Name", Ingredient);
            });

            $("input[name='Recipes.FormFile']").each(function (i) {

                var fileData = $('#form')[0];
                formData.append("Recipes.FormFile", fileData.files[0]);
            });

            $.ajax({

                method: 'post',
                url: "/NewRecipes/AddOrEditRecipes",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {

                    window.location.href = data.redirect;

                }
            });

        });

        function GetThisTextToCategoryInput(text) {
            var text = text.textContent;
            var dropdown = document.getElementById('CategoryDropdown');
            dropdown.textContent = text;
            $('#Catergory').val(text);

        }

        $("Div[name='MyDiv']").each(function () {
            var id = (this).id;
            $(this).load("/NewRecipes/EditRecipesPartialView?id=" + id);
        });

        $("#addItem").click(function () {

            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $("#editorRows").append(html);

                }

            });
            return false;
        });



        var div;
        function GetElement(element) {

            div = element;
        }

        function GetText(text) {

            div.textContent = text;

        }


        function DeleteRow(html) {
            
            var first = html.parentNode;
            var second = first.parentNode.remove();
           
          
        }




    </script>




}



