@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="minWidth100 flexColumn flexAlginItemCenter">
    <div class="maxWidth50 minWidth50vh mobieleWidth100">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="minWidth100 flex flexJustifyContendCenter">
                <h2 class="mt-3" style=" color: #D4AF37;font-family:'Lucida Handwriting'">Email Eingeben</h2>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="flex flexJustifyContendEnd">
                <button type="submit" class="btn bgRed mt-3" style="color:#FFFDD0;">Password zurücksetzen</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
