@model List<IngredientHandlerModel>

@{
    foreach(var ingredient in Model)
    {
        <div class="row">
            <div class="col">@ingredient.Ingredient.Name</div>
            <div class="col">@ingredient.Quantity.Quantitys</div>
            <div class="col">@ingredient.Measure.UnitOfMeasurement</div>
        </div>
        
    }
}
