@model MealPlanModel

<div class="Bg-Cream minWidth100 p-2 mobieleWidth90">
    <form asp-controller="Admin" asp-action="AddNewMealPlan">
        <input asp-for="@Model.MealPlan.Name" />
        @{
            for (int i = 0; i < Model.MealPlanHandlers.Length; i++)
            {
              
                    <div class="flexColumn bg-white mt-2 Border-Gold p-2">
                       
                        <div class="flexRow flexJustifyContendSpaceBetween mt-1">
                            <span style="flex-basis:25%">Rezept:</span>
                            <input type="number" name="ids" id="Breakfast_@i" asp-for="@Model.MealPlanHandlers[i].Recipes.Id" hidden />
                            <button id="BreakfastButton_@i" type="button" class="bgRed Border-Gold" style="color:white;flex-basis:50%" data-bs-toggle="modal" data-name="BreakfastButton_@i.ToString()" data-id="Breakfast_@i.ToString()" data-bs-target="#selectRecipeModal">Kein Rezept ausgewählt</button>
                        </div>
                       
                    </div>


            }
        }

        <button type="submit" class="bgRed Border-Gold mt-2" style="color:white">Rezept erstellen</button>
    </form>

    <div class="minWidth100 mobieleWidth90" id="shopingList"></div>

</div>


<div class="modal fade" id="selectRecipeModal" tabindex="-1" aria-labelledby="selectRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="selectRecipeModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="setValue" hidden  />
                <input id="setName" hidden />
                <div id="containerForWeeklyRecipes"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#selectRecipeModal').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.attr('data-id');
                var name = button.attr('data-name')
                $('#setValue').val(id);
                $('#setName').val(name);
                $('#containerForWeeklyRecipes').load('@Url.Action("SelectWeeklyRecipes")');
                
              

            })

            $('#selectRecipeModal').on('hidden.bs.modal', function () {
                var intList = [];
                var inputElements = document.getElementsByName("ids");

               
                for (var i = 0; i < inputElements.length; i++) {
                    intList.push(inputElements[i].value);
                }

                $('#shopingList').load('@Url.Action("CreateShopingList")', { recipesIds: intList });

            });
           


        });


    </script>
}