* {
    box-sizing: border-box;
}

.bgblue {
    background-color: #daf0ff;
}

table tr td {
    background-color: #b5e2ff;
    padding: 2px 10px;
}

table tr:nth-of-type(odd) td {
    background-color: #daf0ff;
}

.nopadding {
    padding: 0;
}

.flex {
    display: flex;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}


.flexNoWrap {
    flex-wrap: nowrap;
}

.jcenter {
    justify-content: center;
}

.jend {
    justify-content: end;
}

.astart {
    align-self: flex-start;
}

.jspaceBetween {
    justify-content: space-between;
}

.acenter {
    align-items: center;
}

.recipeImage {
    grid-area: img;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipeName {
    grid-area: header;
}

.recipeDescriptions {
    grid-area: descriptions;
}

.recipeRating {
    grid-area: rating;
}

.gridRecipes {
    display: grid;
    min-width: 50%;
    max-width: 50%;
    grid-template-areas:
        'img header header header header header'
        'img descriptions descriptions descriptions descriptions descriptions'
        'img descriptions descriptions descriptions descriptions descriptions'
        'img rating rating rating rating rating';
}

.wrap {
    flex-wrap: wrap;
}

.w100 {
    max-width: 100%;
    min-width: 100%;
}

.w90 {
    max-width: 90%;
}

.w80 {
    max-width: 80%;
    min-width: 80%;
}

.w60 {
    max-width: 60%;
    min-width: 60%;
}

.w50 {
    max-width: 50%;
    min-width: 50%;
}

.w40 {
    max-width: 40%;
    min-width: 40%;
}

.w30 {
    max-width: 30%;
    min-width: 30%;
}

.w25 {
    max-width: 25%;
}

.w20 {
    max-width: 20%;
}

.w10 {
    max-width: 10%;
}

.iw25 {
    max-width: 25%;
}

html {
    font-size: 14px;
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .w50 {
        min-width: 100%;
        max-width: 100%;
    }

    .w80 {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 358px) {



    .flexRow {
        flex-direction: column;
    }

    .w50 {
        max-width: 100%;
        min-width: 100%;
    }

    .w20 {
        max-width: 100%;
        min-width: 100%;
    }

    .iw25 {
        max-width: 100%;
    }

    .w30 {
        min-width: 90%;
        max-width: 90%;
    }
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
