*{
    box-sizing:border-box;
}

.flex{display:flex;}

.flexRow{
    display:flex;
    flex-direction:row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.jcenter{
    justify-content:center;
}

.jend{
    justify-content:end;
}

.acenter {
    align-items: center;
}

.w100 {
    max-width: 100%;
}
.w80 {
    max-width: 80%;
}
.w20 {
   max-width: 20%;
}

.w10 {
    max-width: 10%;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}