* {
    box-sizing: border-box;
}

.bgblue {
    background-color: #daf0ff;
}

table tr td {
    background-color: #b5e2ff;
    padding: 2px 10px;
}

table tr:nth-of-type(odd) td {
    background-color: #daf0ff;
}

.raster {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3,minmax(0,1fr));
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.nopadding {
    padding: 0;
}

.flex {
    display: flex;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}


.flexNoWrap {
    flex-wrap: nowrap;
}
.jstrech{
    justify-content:stretch;
}
.jcenter {
    justify-content: center;
}

.jend {
    justify-content: end;
}

.astart {
    align-self: flex-start;
}

.jspaceBetween {
    justify-content: space-between;
}

.acenter {
    align-items: center;
}

.recipeImage {
   
    min-height:100%;
    max-height:100%;
    border-radius:2.5rem;
}

.wrap {
    flex-wrap: wrap;
}

.w100 {
    max-width: 100%;
    min-width: 100%;
}

.w90 {
    max-width: 90%;
}

.w80 {
    max-width: 80%;
    min-width: 80%;
}

.w70 {
    max-width: 70%;
    min-width: 70%;
}


.w60 {
    max-width: 60%;
    min-width: 60%;
}

.w50 {
    max-width: 50%;
    min-width: 50%;
}

.w40 {
    max-width: 40%;
    min-width: 40%;
}

.w30 {
    max-width: 30%;
    min-width: 30%;
}

.w25 {
    max-width: 25%;
}

.w20 {
    max-width: 20%;
}

.w10 {
    max-width: 10%;
}


@media(max-width:920px)
{
    .w70 {
        min-width: 100%;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
    

    .w50 {
        min-width: 100%;
        max-width: 100%;
    }

    .w80 {
        min-width: 100%;
        max-width: 100%;
    }
}

@media(max-width:725px)
{
    .raster {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: repeat(2,minmax(0,1fr));
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media (max-width: 458px) {

    .handyNull{
        width:0px;
    }
    .handyCenter {
        align-items: center;
        flex-direction: column;
        font-size: small;
    }

    .handyWidth100 {
        max-width: 100%;
        min-width:100%;
    }

    /*.raster {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: repeat(1,minmax(0,1fr));
        grid-template-columns: repeat(1,minmax(0,1fr));
    }*/
    /*.flexRow {
        flex-direction: column;
    }*/

    .w50 {
        max-width: 100%;
        min-width: 100%;
    }

    .w20 {
        max-width: 100%;
        min-width: 100%;
    }

    .iw25 {
        max-width: 100%;
    }

    .w30 {
        min-width: 90%;
        max-width: 90%;
    }
}


@media(max-width:280px) {
    .raster {
        display: grid;
        grid-gap: 2.5rem;
        grid-template-rows: repeat(1,minmax(0,1fr));
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
}
