<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DelikatessenDrehbuch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  @*   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DelikatessenDrehbuch.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3" style="justify-content:center">
            <div class="row" style="justify-content:center">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1" style="justify-content:center">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Rezepte</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li> *@
                           
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="maxWidth100 flexColumn">
        <div class="flex maxWidth50 minWidth50 mobieleWidth100 flexAlginSelfCenter">
            <form class="minWidth100 flexRow flexAuto flexNoWrap mobieleWidth100" asp-controller="Home" asp-action="Index" style="align-self:center;">
                <input name="recipeName" class="minWidth70 flexAuto" placeholder="Nach Rezept suchen" style="border-radius:5px;flex-shrink:2" />
                <button  class="btn btn-primary  " title="SearchButton" type="submit" typeof="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
            
        </div>


    </div>

    <div class=" flexRow flexJustifyContendCenter">
        <hr style="width:90%" />
    </div>
    <div class="m-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DelikatessenDrehbuch - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@* <script>

    function SearchRecipe() {

        var keyWord = $('#keyWord').val();
        var encodeKeyWord = encodeURIComponent(keyWord);
        $('#RecipesPartial').load('Home/SearchRecipes?keyWord=' + encodeKeyWord)
    }
</script> *@