<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DelikatessenDrehbuch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DelikatessenDrehbuch.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="  navbar-expand-sm navbar-toggleable-sm navbar-light flexJustifyContendCenter flex bgRedGardien border-bottom box-shadow mb-3">


            <div class="container-fluid flexRow flexJustifyContendCenter justifyMobileEnd">

                <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="color:#FFFDD0">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex" style="justify-content:center">
                    <ul class="navbar-nav flex-grow-1" style="max-width:max-content;">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" style="color:#FFFDD0">Rezepte</a>
                        </li>
                        <li class="nav-item">
                            <partial class="grid-Partial" name="_LoginPartial" />
                        </li>

                    </ul>

                </div>

            </div>





        </nav>



    </header>
    <div class="flexRowToColumn flexWrap">
        <div class="col maxWidth30 mobieleWidth90">
            <div class="grid-Navbar">
                <img class="grid-Logo" src="/css/Logo/DelikatessenDrehbuch_Logo_Ohne hintergrund.png" style=" max-height:100px;object-fit:contain" />
                <div class="grid-Name" style="color:#D4AF37;font-size:14px">Delikatessen Drehbuch</div>
                <div class="grid-Slogan" style="color:#D4AF37;font-size:11px">Kulinarische Genüsse,<br /> von Herzen geschrieben.</div>

            </div>
        </div>
        <div class="col flex flexAlginItemEnd flexJustifyContendCenter mobieleWidth100 maxWidth100">
            <form class="minWidth50 maxWidth60 flexRow flexAuto flexNoWrap mobieleWidth90" asp-controller="Home" asp-action="Index">
                <input name="recipeName" class="minWidth70 flexAuto" placeholder="Nach Rezept suchen" style="border-radius:5px;flex-shrink:2" />
                <button class="btn bgRed  " title="SearchButton" type="submit" typeof="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="color:#FFFDD0">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
        </div>

    </div>


    <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header ">
            <img class="grid-Logo" src="/css/Logo/DelikatessenDrehbuch_Logo_Ohne hintergrund.png" style=" max-height:100px;object-fit:contain" />
            <div class="grid-Name" style="color:#D4AF37;font-size:14px">Delikatessen Drehbuch</div>

            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bgRedGardien">
            <div>
                <ul class="navbar-nav flex-grow-1" style="max-width:max-content;">
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" style="color:#FFFDD0">Rezepte</a>
                    </li>
                    <li class="nav-item">
                        <partial class="grid-Partial" name="_LoginPartial" />
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade mobieleWidth100" id="MessageModal" tabindex="-1" aria-labelledby="MessageModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="MessageModal">Support Nachricht</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body minWidth100">
                    <textarea id="SupportMessage" name="message" rows="7" class="minWidth100" onclick="MoveCursor()">

                   </textarea>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" onclick="SendSupportMessage()">Senden</button>
                </div>
            </div>
        </div>
    </div>


    <div class=" flexRow flexJustifyContendCenter">
        <hr style="width:87%;margin-bottom:0 !important;" />
    </div>
    <div class="m-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
    var modalData = {};
    function MessageModalShow(typeName, id, email) {
        debugger;
        modalData.id = id;
        modalData.typeName = typeName;
        modalData.email = email;
        
        $('#MessageModal').modal('show');
    }

    function SendSupportMessage() {
        var message = document.getElementById("SupportMessage").value;
        debugger;
        var postData = {
            Id:0,
            Type: modalData.typeName,
            TypeId: modalData.id,
            SenderEmail:modalData.email,
            Message: message

        };
        debugger;
        $.ajax({
            method: 'post',
            url: "/Support/CreatSupportMessage",
            contentType:"application/json",
            data: JSON.stringify(postData),
            success: function () {

                $('#MessageModal').modal('close');
                
            }
        });


    }

    function MoveCursor() {
        var textArea = document.getElementById("SupportMessage");
        textArea.focus();
        textArea.setSelectionRange(0, 0);
    }
</script>





@* <script>

    function SearchRecipe() {

        var keyWord = $('#keyWord').val();
        var encodeKeyWord = encodeURIComponent(keyWord);
        $('#RecipesPartial').load('Home/SearchRecipes?keyWord=' + encodeKeyWord)
    }
</script> *@